// fonts

$primaryFont: "Open Sans", sans-serif;

// colors

$darkColor: #082625;

$primaryDarkColor: #082625;
$primaryMiddleColor: #324b4a;
$primaryLightColor: #648281;

$BackgroundColor: #e6f4f1;
$BackgroundColor2: #d3e3e0;

.pr {
  padding-right: 120px;
}

.align-center {
  text-align: center;
  margin-bottom: 20px;
}

.section-min-height {
  min-height: 80vh;
}

// icons

// &#9776;

// develop

$border: 1px solid black;
$whiteBorder: 1px solid white;
